*{
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

.box {
  background:url(img/background.jpg);
  height:20vw;
  padding-top: 110px;
  color:white;
  width:70vw;
}

#simple {
  text-align: center;
}
#try {
  text-align: center;
}
#personal {
  height:17vw;
  width:25vw;
  right:auto;
  color: black;
  padding-left: 50px;

  }


.column-header {
  background-color: green;
  color: white;
  text-align: center;
  font-size: 20px;

}

.column-small {
  background-color: darkblue;
  color: white;
  text-align: center;
  font-size: 20px;


}

.column-enterprise {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;

}
main section {
  width: auto;
  display:inline-block;5;
  text-align: center;

}
.column-free {
  background-color: lightgray;
  display: table;

}
.column-setup {
  background-color: lightgray;
}
.column-custom {
  background-color: lightgray;
}
button {
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background-color: white;

}
#start {
  font-size: 15px;
}
.lor-class {
  text-align: center;
  font-size: 12px;
  display: block;
  width: 40%;
  padding-left: 30px;
}
#monthly {
  font-size: 15px;
}
#support {
  font-size: 15px;
}
#cancel {
  font-size: 15px;
}

}
.lo {
  text-align: center;
  font-size: 12px;
  margin-left: 5px;
  box-sizing: border-box;
  padding-top: 20px;
}
.lore {
  text-align: center;
  font-size: 10px;
  display: block;
  width: 40%;

}
.get-started {
  text-align: left;
}
.foot {
  background-color: black;
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 18px;
}
