*{
    box-sizing: border-box;
    /*border: 1px solid red;*/
    {img: width 100%


}


  .clearfix {
  overflow: auto;
  zoom: 1;
}


.grid{
  margin: 0 auto;
  max-width: 960px;
  width: 100%;

}

.row{

}

}

.colum{
    display: inline-block;
    float: left;
    padding: 20px;
    width: 33%;

}

.text-colums{
  columns: 3

}
#banner{
  position: absolute;
  z-index: 1;
  top: 25px;
  left: -50px;
  background-color: blue;
  color: #ffffff;
  padding: 15px;
  width: 200px;
  text-align: center;
  transform: rotate(-45deg);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
